<phpunit
	colors="true"

	strict="true"
	timeoutForSmallTests="1800"
	timeoutForMediumTests="1800"
	timeoutForLargeTests="1800"

	verbose="true"

	stopOnError="true"
	stopOnFailure="true"
	stopOnIncomplete="true"
	stopOnSkipped="true"
	>
	<testsuites>
		<testsuite name="tarball">
			<file>testReleaseTarball.php</file>
		</testsuite>
	</testsuites>
</phpunit>
